@model HRM.Models.SHIFTDETAIL

@{
	ViewBag.Title = "Index";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Bảng chấm côngs</title>
	<link href="https://cdn.dhtmlx.com/scheduler/edge/dhtmlxscheduler_material.css" rel="stylesheet" type="text/css" />
	<script src="~/Scripts/dhtmlxscheduler.js"></script>
	<script src="~/Scripts/dhtmlxscheduler_multisection.js" type="text/javascript" charset="utf-8"></script>
	<script src="~/Scripts/dhtmlxscheduler_recurring.js" type="text/javascript" charset="utf-8"></script>
	<script src='~/Scripts/dhtmlxscheduler_timeline.js' type="text/javascript" charset="utf-8"></script>
	<script src="~/Scripts/dhtmlxscheduler_units.js" type="text/javascript" charset="utf-8"></script>
	<script src="~/Scripts/dhtmlxscheduler_multiselect.js" type="text/javascript" charset="utf-8"></script>
	<script src="~/Scripts/locale_vn.js" type="text/javascript" charset="utf-8"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js" integrity="sha512-qTXRIMyZIFb8iQcfjXWCO8+M5Tbc38Qi5WzdPOYZHIlZpzBHG3L3by84BBBOiRGiEb7KKtAOAs5qYdUiZiQNNQ==" crossorigin="anonymous"></script>
	<style>
		.main {
			padding: 0px 0px !important;
		}

		.dhx_scale_bar {
			font-size: 12px !important;
		}

		.dhx_cal_date {
			font-size: 15px !important;
		}
	</style>
</head>
<body>
	<div id="scheduler_here" class="dhx_cal_container" style='width:100%; height:100vh;'>
		<div class="dhx_cal_navline">
			<div class="dhx_cal_prev_button">&nbsp;</div>
			<div class="dhx_cal_next_button">&nbsp;</div>
			<div class="dhx_cal_today_button"></div>
			<div class="dhx_cal_date"></div>
			<div class="dhx_cal_tab" name="timeline_tab" style="right:280px;"></div>
			<div class="dhx_cal_tab" name="day_tab" style="right:204px;"></div>
			<div class="dhx_cal_tab" name="week_tab" style="right:140px;"></div>
			<div class="dhx_cal_tab" name="month_tab" style="right:76px;"></div>
		</div>
		<div class="dhx_cal_header">
		</div>
		<div class="dhx_cal_data">
		</div>
	</div>
</body>

<script>
	var details;
	var employees;
	$.get("/TIMEKEEPINGTABLE/GetShiftDetailList", null, DataBind);
	function DataBind(result1) {
	}
	

	document.addEventListener("DOMContentLoaded", function (event) {
		scheduler.config.multi_day = true;
		scheduler.config.multisection = true;
		scheduler.config.occurrence_timestamp_in_utc = true;
		scheduler.config.include_end_by = true;
		scheduler.config.repeat_precise = true;
		scheduler.locale.labels.timeline_tab = "Timeline";
		var sections = [];
		scheduler.createTimelineView({
			name: "timeline",
			x_unit: "hour",
			x_date: "%H:%i",
			x_step: 4,
			x_size: 24,
			y_unit: sections,
			y_property: "section_id",
			render: "bar",
			second_scale: {
				x_unit: "day", // unit which should be used for second scale
				x_date: "%F %d" // date format which should be used for second scale, "July 01"
			}
		});

		scheduler.locale.labels.section_holidayselect = " ";

		//scheduler.attachEvent("onClick", function (id, e) {
		//	dhtmlx.message(scheduler.getEvent(id).text);
		//	return true;
		//});

		scheduler.config.lightbox.sections = [
			{ name: "description", height: 130, map_to: "text", type: "textarea", focus: true },
			{
				name: "holidayselect", type: "multiselect", options:
					[
						{ key: 1, label: "Nghỉ lễ" }
					]},
			{ name: "time", height: 72, type: "time", map_to: "auto" }
		];

		scheduler.init('scheduler_here', new Date(), "timeline");
		scheduler.load(result1);
		//scheduler.parse([

			//{ start_date: "2017-06-30 10:00", end_date: "2017-06-30 16:00", text: "Task A-89411", section_id: '2' },
			//{ start_date: "2017-06-30 4:00", end_date: "2017-06-30 15:00", text: "Sections 1,3", section_id: '1,3' },
			//{ start_date: "2017-06-30 16:00", end_date: "2017-07-01 17:00", text: "Task A-46598", section_id: '1' },

			//{ start_date: "2017-07-01 00:00", end_date: "9999-01-31 00:00", text: "Sections 2,3,4, every workday", section_id: '2,3,4', "event_pid": "", "event_length": 3600 * 8, "rec_type": "week_1___1,2,3,4,5#no" },
			//{ start_date: "2017-07-02 02:00", end_date: "2017-07-02 16:00", text: "Task B-44864", section_id: '2' },

			//{ start_date: "2017-07-03 02:00", end_date: "2017-07-03 18:00", text: "Task C-32421", section_id: '3' },
			//{ start_date: "2017-07-04 08:30", end_date: "2017-07-04 19:45", text: "Sections 3,1", section_id: '3,1' },


			//{ start_date: "2017-07-05 11:40", end_date: "2017-07-05 16:30", text: "Sections 4,2,3", section_id: '4,2,3' },
			//{ start_date: "2017-07-06 12:00", end_date: "2017-07-06 18:00", text: "Task D-12458", section_id: '4' }
		//]);
	});
</script>